<div class="container">
    <form action="" class="border w-75 shadow p-5 mt-5">
        <h3 class="text-primary mb-5">Login Form</h3>
        <div class="mb-3">
            <input type="text" placeholder="Enter Email" class="form-control">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Enter Password" class="form-control">
        </div>
        <div>
            <button class="btn btn-success" routerLink="/employee">Login</button>
            <span class="ms-3">Not Registered yet? </span>
            <span class=" text-primary" style="cursor: pointer;" routerLink="/register">Register</span>
        </div>
    </form>
</div>
